.app-home {
  padding-top: 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.979),
      rgba(255, 255, 255, 0.705),
      rgba(0, 8, 53, 0.267) 
    ),
    url("https://wallpapercave.com/wp/wp4435293.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-gallery {
    // align-items:
    img {
      width: calc(10vw + 150px);
      height: calc(10vw + 100px);
      opacity: 0.9;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .top-bar.bg {
    font-family: "latolight", sans-serif;
    
    // margin-bottom: 20px;
    // background-image: linear-gradient(#4b4b4bc5, rgba(78, 78, 78, 0.027));
    // url("../../public/img/backgrounds/9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 10px 0 50px;
    h1 {
      color: $primary-dark;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      // font-weight: bold;
      margin: 5px auto;

      b {
        // font-family: "latobold";
      }
    }
    align-items: center;
    h4 {
      letter-spacing: 0.1rem;
      // font-family: 'latobold';
      text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.445);
      color: $primary-dark;
      font-size: 1.2rem;
      // border-bottom: 1px solid rgb(192, 192, 192);
    }
     i {
      color: $primary-dark;
     }
  }

  .user-filters {
    
    width: 100%;
    padding: 10px 40px;
    i {
      padding: 5px;
      &:hover {
        background-color: $primary-color;
      }
    }
    .v-input__control {
      margin-right: 20px;
      padding: 0 20px;
    }
  }
}
@media screen and (max-width: 850px) {
  .app-home {
    .map-filter {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 650px) {
  .app-home {
    .top-bar.bg {
      padding: 40px;
      .user-filters {
        padding: 10px;
      }
    }
  }
}
