

.homepage {
  color: $primary-dark;
  position: relative;
  text-align: center;
  background: linear-gradient(0deg, rgba(158, 148, 148, 0.274), rgba(100, 142, 233, 0.445)),
    url("https://a.imge.to/2019/07/18/1EfYs.jpg");
    
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
 
  .select {
    width: 230px;
    margin: 0 auto;
  }
 
  h1 {
    font-size: 4rem;
    border-bottom: 1px solid $primary-dark;
    width: 200px;
    margin: 0 auto;
    font-weight: 100;
  }
  h4 {
    font-size: 1.2rem;
    margin: 10px;
  }
  .container {
    padding: 5vh 0px;
    margin: 0 auto;
  }
  .app-presenting {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    opacity: 1;
    font-size: 2rem;
    text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.897);
    p {
      margin: 10px;
    }
    
  }

  .locations-container {
    position: absolute;
    top:62vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn.primary-dark.flat {
    color: $primary-dark;
  }

  .btn.primary-dark.shiny {
    width: 220px; 
    top:180px;
    left: 50%;
    font-family: "latolight";
    i {
      font-size: 1.3rem;
      opacity: 0.8;
    }
    
  }
 
  .card {
    height: 50px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.952);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.801);
    margin-top: 10vh;
    
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    background-position: center right;
    height: 50vh;
    p {
      font-size: 1rem;
      margin: 5px auto; 
    }
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
  
  
  
}
