

.homepage {
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.842)),
    url("../../public/img/background2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  .select {
    width: 280px;
    margin: 0 auto;
    position: relative;

  }
 
  h1 {
    font-size: 4rem;
  }
  h4 {
    font-size: 1.4rem;
    margin: 10px;
  }
  .container {
    padding-top: 10vh;
    margin: 0 auto;
  }
  .app-presenting {
    margin: 40px auto;
    color: $primary-dark;
    opacity: 0.8;
    font-size: 2.5rem;
    text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.897);
    
  }

  .locations-container {
    position: relative;
  }

  .btn.primary-dark.flat {
    color: $primary-dark;
  }

  .btn.primary-dark { 
    top:160px;
    left: 50%;
  }
 
  .card {
    height: 50px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.952);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.801);
    margin-top: 10vh;
    
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    background-position: top right;
    p {
      margin: 20px auto;
      width: 200px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 12px;
  }
  .homepage {
    .app-presenting {
      margin: 25px auto;
    }
    p {
      width: 150px;
      font-family: 'latobold';
      margin: 5px;
      padding: 8px;
      text-shadow: 0.5px 0.5px 1.5px rgb(226, 226, 226);
    }
  }
}
