.user-profile {
  margin-top: 50px;
 
  .cover {
    color: white;
    padding: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(202, 79, 79, 0.555)),
      url('../../public/img/bg11.jpg');
      background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  h1 {
    font-size: 2.2rem;
  } 
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    color: azure;
    i {
      margin-right: 5px;
    }
  }
  .actions {
    margin: 30px;
  }
  .actions > * {
    
    margin: 20px;
  }
  .user-info {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    color: rgb(94, 94, 94);
    h2 {
      margin: 15px;
      margin-left: 0; 
      cursor: pointer;
    }
    li {
      padding: 5px 10px 5px;
      margin: 5px;
      list-style: none;
    }
    .tag {
      // background-color: $primary-dark;
      // color: $primary-dark;
      // border: 1px solid rgb(153, 153, 153);
      border-radius: 10px;
      // cursor: pointer;
    }
    i {
      margin-left: 5px;
    }
  }
}
 
@media screen and (max-width: 550px) {
  .user-profile {
    .user-info {
      .flex {
        justify-content: flex-start;
      }
    }
  }
}