@mixin fade-transition($element) {
  transition: $element 0.15s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

.fadeIn {
  animation: fadeIn ease 5s;
}

.imageFade {
  animation: imageAnimation 36s linear infinite 0s; 
}

// .shiny {
//   z-index: 1;
//   margin: 0 auto;
//   transform: translate(-50%, -50%);
// }

span.shiny {
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.952) 50%,
    rgba(255, 255, 255, 0.925) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
