.btn {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  text-shadow: 0.5px 0.5px 0.8px black;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px rgba(54, 54, 54, 0.747);
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.btn.small {
  font-family: "latolight";
  font-size: 1rem;
}

.btn.flat {
  background-color: $transparent-bg;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid;
  padding: 5px;
  margin: 10px;
}

.btn.dark {
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
}

.btn.primary {
  background-color: $primary-color;
  color: white;
}

.btn.primary-dark {
  background-color: $primary-dark;
  color: white;
  &:hover {
    background: $primary-color;
  }
}


.btn .success {
}
.btn .info {
}
.btn .warning {
}
.btn .danger {
}
.btn .neutral {
}



.btn:hover {
  cursor: pointer;
}

