  @font-face {
    font-family: 'latoregular';
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'latolight';
    src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }
  
  @font-face {
    font-family: 'latobold';
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }
  
  /*----------  Eurof  ----------*/
  @font-face {
    font-family: 'eurofbold';
    src: url("../fonts/euro/eurof55.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'goudy';
    src: url("../fonts/GoudyBookletter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'penna';
    src: url("../fonts/penna.otf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'sensations';
    src: url("../fonts/Sensations.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }


  @font-face {
    font-family: 'titi';
    src: url("../fonts/titi/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }


  @font-face {
    font-family: 'quickbold';
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'quick';
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

  /*----------  class  ----------*/

  .quick {
    font-family: 'quick';
    letter-spacing: 0.1rem;
  }

  .quick-bold {
    font-family: 'quickbold';
    letter-spacing: 0.1rem;
  }


  .titi {
    font-family: 'titi';
    letter-spacing: 0.1rem;
  }

  .sensations {
    font-family: 'sensations';
    letter-spacing: 0.1rem;
  }

  .penna {
    font-family: 'penna';
    letter-spacing: 0.1rem;
  }

  .goudy {
    font-family: 'goudy';
    letter-spacing: 0.1rem;
  }
  

  .lato-light {
    font-family: 'latolight';
    letter-spacing: 0.1rem;
  }

  .Lato-bold {
    font-family: 'latobold';
  }

  .noty_body {
    font-size: 1.2em;
    font-family: 'latolight';
  }